.land {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

.land-description {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.land-footer {
  background: #fff;
  border-top: #ffb500 10px solid;
  padding: 35px 0px 10vh 0px;
  margin-top: 93px;
}
