.section-1-title {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.section-1 {
  background: #9c3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  padding: 10px 7px;
}

.section-1-fish-1 {
  border: 1px solid #979797;
  background: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}
